<!-- https://www.w3schools.com/angular/angular_filters.asp -->
<!DOCTYPE html>
<html>
       <meta charset="UTF-8">""
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <body>
        <div ng-app="myApp" ng-controller="namesCtrl">
            <p> Filtro para poñer en maiúsculas
            {{names[0].name | uppercase}}
            </p>
            <p>Ordeados por países:</p>
            <ul>
                <li ng-repeat="x in names | orderBy:'country'">
                    {{ x.name + '----->>> ' + x.country }}
                </li>
            </ul>
            <ul>
                  <li ng-repeat="x in names.name[0]| filter : 'i'">
                          {{ x }}
                            </li>
            </ul>
        </div>

        <script>
angular.module('myApp', []).controller('namesCtrl', function($scope) {
    $scope.names = [
    {name:'Jani',country:'Norway'},
    {name:'Carl',country:'Sweden'},
    {name:'Margareth',country:'England'},
    {name:'Hege',country:'Norway'},
    {name:'Joe',country:'Denmark'},
    {name:'Gustav',country:'Sweden'},
    {name:'Birgit',country:'Denmark'},
    {name:'Mary',country:'England'},
    {name:'Kai',country:'Norway'}
    ];
});
        </script>

    </body>
</html>
